In [14]:
import numpy as np
import pandas as pd

#Compute average of list

numList = [ 1,1,1,1,1,1]

average = sum(numList)/len(numList)

#pandas]
var1 = np.random.randn(100)*5 +20
var2 = np.random.randn(100)>0

labels = ['Temp. (C)','Ice cream eaten']

D = {labels[0]:var1,labels[1]:var2}

In [15]:
df = pd.DataFrame(data=D)
df

    Temp. (C)  Ice cream eaten
0   13.380580             True
1   26.015806             True
2   27.396458             True
3   23.817904             True
4   16.453935            False
..        ...              ...
95  19.454503            False
96  21.790723             True
97  19.285701             True
98  18.435135            False
99  17.242227             True

[100 rows x 2 columns]

In [24]:
numArray = np.array(range(11))
numsDict = {'numbers':numArray,"numbers squared":numArray**2,'log of numbers':np.log(numArray)}
numberFrame = pd.DataFrame(numsDict)
numberFrame

C:\Users\Rob\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

    numbers  numbers squared  log of numbers
0         0                0            -inf
1         1                1        0.000000
2         2                4        0.693147
3         3                9        1.098612
4         4               16        1.386294
5         5               25        1.609438
6         6               36        1.791759
7         7               49        1.945910
8         8               64        2.079442
9         9               81        2.197225
10       10              100        2.302585

In [3]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [21]:
import math
import numpy as np
def myFact(inputNum):
    try:
        
        spaceList = np.arange(1.0,inputNum+1)
        outNum = np.prod(spaceList)
        return outNum
    except TypeError:
        print('Factorials of factional numbers dont work')
inputVar = 2

print(myFact(inputVar))
print(math.factorial(inputVar))

1.0

ValueError: factorial() only accepts integral values

In [19]:
#scope
#flips a coin N times and reports average
def flipACoin(nFlips):
    if(nFlips<0 or nFlips%1>0):
        return 0
    else:
        flipArray = np.random.randint(0,2,nFlips)
        return np.average(flipArray)
print("Flipped "+str(flipACoin(10)*100)+'% heads')

Flipped 60.0% heads

In [28]:
#Classes


class Experiment(object):
    def __init__(self,eType,dataN,status='ongoing'):
        self.expType = eType
        self.dataCount = dataN
        self.expStatus = status
        
    def increaseN(self,number):
        self.dataCount += number
    def changeExpStatus(self,status):
        self.expStatus = status
    def __str__(self):
        return "this is some classy text ;)"

In [31]:
myexperiment = Experiment('Brain',120)
print(myexperiment)

this is some classy text ;)

In [41]:
#exercise:

class BoardGame(object):
    def __init__(self,gameName,numPlays,numWins,lastGameWin):
        self.gameName = gameName
        self.numPlays = numPlays
        self.numWins = numWins
        self.lastGameWin = lastGameWin
        
    def addWins(self,addNWins):
        self.numPlays += addNWins
        self.numWins += addNWins
        lastGameWin = True
    def addLoss(self,addNLoss):
        self.numPlays += addNLoss
        lastGameWin = False
    def __str__(self):
        return "the last game played was a win :" + str(self.lastGameWin)

In [42]:
myGame = BoardGame('chess',10,5,True)
print(myGame)

the last game played was a win :True