In [8]:
a = 4
b = 3
c = 2
print(a)
b

4

3

In [14]:
# this is a comment line
print("this is a print statement for a string")

this is a print statement for a string

In [15]:
d = 'Hello'
e = "mikes's favorite color is purple"
print(d,e)

Hello mikes's favorite color is purple

In [17]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     4
b          int     3
c          int     2
d          str     Hello
e          str     mikes's favorite color is purple

In [23]:
a =1
print(a)
a = 'bad'
print(a)

1
bad

In [24]:
9**(1/2)

3.0

In [31]:
firstName = 'Mike'
lastName  = 'Cohen'
print(firstName + ' ' + lastName)
print(firstName*4)

Mike Cohen
MikeMikeMikeMike

In [32]:
ans  = input('Feed me a stray cat')

print(type(ans))
ans

Feed me a stray catok
<class 'str'>

'ok'

In [35]:
adf = 2

'bad'

In [46]:
#print the number of 7s in a list
newList= [2, 5, 456, 64, 2, 421, 2, 21, 217, 7, 7, 7 ,7 ,7 ,7,7, 7, 7787354, 54, 656554,7.0,"7" ]
print(newList.count(7))
newList.append(3)
newList

9

[2,
 5,
 456,
 64,
 2,
 421,
 2,
 21,
 217,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7787354,
 54,
 656554,
 7.0,
 '7',
 3]

In [55]:
#tuples

aTuple = (3,'4',3)

aTuple*3

aTuple.count(3)

anotherTuple =tuple([1,3, 4 ])
print(type(anotherTuple))

<class 'tuple'>

In [71]:
#Pythagorean triplets

#input three lengths
aPythg = float(input('Please enter first number of triplet'))
bPythg = float(input('Please enter second number of triplet'))
cPythg = float(input('Please enter third number of triplet'))

#check for accuracy
isTriple = ((aPythg**2+bPythg**2) == cPythg**2) and (aPythg>0 and bPythg>0 and cPythg>0)
    #print result
print('Your answer is '+str(isTriple)+' !!')

Please enter first number of triplet1
Please enter second number of triplet2
Please enter third number of triplet3
Your answer is False !!

In [76]:
#Dictonaries
D = dict()
D['name'] = 'mike'
D['AgeRange'] = [20,50]

D == {'name':'mike', 'AgeRange':[20,50]}
print(D.keys())
print(D.values())
print(D.items())

dict_keys(['name', 'AgeRange'])
dict_values(['mike', [20, 50]])
dict_items([('name', 'mike'), ('AgeRange', [20, 50])])

In [81]:
#Excercise

number1 = int(input('Enter a number'))
number2 = int(input('Enter a number'))

myDict = {'FirstNum':number1,'SecondNum':number2,'product':number1*number2}

myDict.items()

Enter a number2
Enter a number3

dict_items([('FirstNum', 2), ('SecondNum', 3), ('product', 6)])